.googleimage-picture-width{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  .search-form-components{
    width: auto;
    margin:auto;
    padding:10px;
  }
  /*text input container*/
  .input-text{
    width:auto;
    padding:10px;
    margin:auto;
    display:flex;
    justify-content: center;
  }
  /*text input element*/
  
  .search-text-input{
    width:500px;
  
  }
  .search-buttons{
    margin: auto;
    width: auto;
    padding: 10px;
    height:50%;
    display:flex;
    justify-content:center;
  }
  .gsearch-form-button{
    margin-right:5px;
  }
    
  .luckysearch-form-button{
    margin-left:5px;
    color:red;
  }
